
body {
  font-family: 'Arial', sans-serif;
  transition: background-color 0.5s ease, color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: #454545;
}

.light-mode .card {
  background-color: #f9f9f9;
  color: #333333;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
}

.dark-mode .card {
  background-color: #5c5959;
  color: #ffffff;
  box-shadow: 0 0px 30px rgba(255, 255, 255, 0.3);
}

.card {
  position: relative;
  max-width: 300px;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  transform: scale(1.03);
}

.theme-toggle {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: transform 0.3s ease;
}

.theme-toggle:hover {
  transform: rotate(90deg);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.social-links a {
  margin: 0 10px;
  color: #000000;
  font-size: 24px;
}

.social-links a:hover {
  transform: scale(1.2);
}

.dark-mode .social-links a {
  color: #ffffff;
}

.dark-mode .social-links a:hover {
  color: #ffffff;
}

/* Anpassungen für die Schriftarten */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: -10px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: -8px;
}

a {
  transition: transform 0.3s ease;
}

/* Responsive Anpassungen */
@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}

/* Anpassungen für den Druck */
@media print {
  .pdf-container {
    height: auto;
    padding: 10mm;
  }

  .card {
    width: 85mm;
    height: 55mm;
  }
}

/* Stil für das Profilbild */
.profilbild {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.light-mode .profilbild {
  border-color: #333333;
}

.dark-mode .profilbild {
  border-color: #ffffff;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-button {
  margin-top: 20px;
  padding: 5px 15px;
  cursor: pointer;
}
.download-button {
  background-color: #333; /* Dunkler Hintergrund */
  color: white; /* Weiße Textfarbe */
  border: none; /* Kein Rand */
  border-radius: 5px; /* Abgerundete Ecken */
  padding: 10px 20px; /* Polsterung um den Text */
  font-size: 16px; /* Schriftgröße */
  cursor: pointer; /* Cursor als Zeiger */
  transition: background-color 0.3s, transform 0.3s; /* Übergangseffekte */
  text-decoration: none; /* Keine Textdekoration */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Schatten für Tiefe */
}

.download-button:hover {
  background-color: #555; /* Hintergrundfarbe beim Überfahren */
  transform: scale(1.05); /* Leichte Vergrößerung beim Hover */
}

.download-button:active {
  background-color: #222; /* Hintergrundfarbe beim Klicken */
  transform: scale(0.95); /* Verkleinerung beim Klicken */
}

/* Falls Sie ein Icon neben dem Text haben wollen */
.download-button i {
  margin-right: 5px; /* Abstand zwischen Icon und Text */
}

